body{
    margin: 0;
    background: lightgray;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    align-items: center;
}

.verticalBtn{
    display: flex;
    flex-direction: column;
}

#carCanvas{
    background: darkgray;
}

#nnCanvas{
    background: black;
}