body{
    margin: 0;
    background: lightgray;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    align-items: center;
}

.left-nav{
    display: flex;
    flex-direction: column;
    background-color: paleturquoise;
    width: 250px;
    height: 100vh;
}

.options{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.btn{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

#carCanvas{
    background: darkgray;
}

#nnCanvas{
    background: black;
}

#evo-chart #gen-chart {
    width: 500;
    height: 300;
}
